
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');


.wrapper {
  width: 100%;
  display: flex;
}

.topContainer {
  display: flex;
  width: 100%;
  max-height: max-content;
  /* padding: 3vh;  */
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .topContainer {
    display: flex;
    width: 100%;
    max-height: max-content;
    padding: 0; 
    flex-direction: column;
  }
}

.topContainerImage {
  display: flex;
  flex: 1;
  padding: 3vh; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  height: 350px;
  width: auto;
}
@media only screen and (max-width: 768px) {
  .image {
    height: 250px;
  }
}

.topContainerText {
  flex: 2;
  padding: 3vh; 
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.navbar {
}

.image {
}
